<meta charset="UTF-8">
<title>MED-VET</title>

<meta name="viewport" content="width=device-width, inicial-scale=1.0">

<style>
    doby {
        padding: 5vh 10%;
        padding-top: 50px
    }
</style>

<link rel="stylesheet" type="text/css" href="/css/style.css">